@import "bootstrap";

.top-nav {
  background-color: white;
  border-bottom-color: #edeeee;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  height: 70px;
  padding-top: 15px;
  background: image_url('seigaiha.png')
}

.brand {
  color: #125688;
  font-size: 30px;
  font-family: 'Montserrat Alternates', sans-serif;
}

.top-nav .add a {
  font-weight: bold;
  color: #125688;
  font-size: 16px;
  padding-left: 8px;
}

.top-nav .add {
  margin-top: 10px;
}

.hero {
  background: image_url('image.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:630px;
  box-shadow: 0px, 3px, 8px #2a2a2a;
}

.frosty {
  padding-top: 30px;
  padding-bottom: 10px;
  margin-top: 80px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
}

.frosty h1 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.frosty h2 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.thought {
  text-align: center;
  font-size: 30px;
  padding-top: 20px;
}

.booyah-box {
  text-align: center;
  padding-top: 50px;
}
