<div class="hero">
  <br />
  <div class="frosty col-xs-10 offset-xs-1 text-center">
    <br />
      <h1>Leave Your Thoughts and Worries Behind</h1>
    <br />
      <%= link_to 'Purge a Thought', new_thought_path, class: 'btn btn-success' %>
    <br />
     <br /><br />
  </div>
</div>
