<!DOCTYPE html>
<html>
  <head>
    <title>Thoughtpurge</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates" rel="stylesheet">
  </head>

  <body>
    <div class="top-nav">
      <div class="col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3">
        <div class="brand float-left">
          ThoughtPurge
        </div>
      </div>
      <br class="clear-fix" />
    </div>
    <%= yield %>
  </body>
</html>
